body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.navbar-gradient {
    background: linear-gradient(135deg, #ffcc00, #ff0066);
}

.memory-game {
    text-align: center;
}

.score {
    margin-bottom: 10px;
}

.card {
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, #ffd700, #ff4500);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
}

.card .card-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform: rotateY(0deg);
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card .card-inner .card-front,
.card .card-inner .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card .card-inner .card-front {
    background: linear-gradient(135deg, #ffd700, #ff4500);
}

.card .card-inner .card-back {
    background: linear-gradient(135deg, #ff4500, #ffd700);
    transform: rotateY(180deg);
}

.found-cards {
    margin-top: 20px;
}

.found-cards h2 {
    margin-bottom: 10px;
}
.card.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.victory-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
    animation: fadeInOut 3s ease-in-out forwards;
    background: linear-gradient(135deg, #ffcc00, #ff0066);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

@keyframes fadeInOut {
    0%,
    100% {
        opacity: 0;
    }
    10%,
    90% {
        opacity: 1;
    }
}
